    <div class="full-width" id="titlebar">
      <div class="container">

        <div class="menu-nav row pull-right">
          <div class="btn-group span">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" id="dropmain">
              Explore
              <span class="caret"></span>
            </a>

            <ul class="dropdown-menu" role="menu" aria-labelledby="dropmain">
              <li><a href="http://backlift.com">backlift home</a></li>
              <li><a href="http://backlift.github.com/docs">documentation</a></li>
              <li><a href="http://roadma.ps/28R">roadmap</a></li>
            </ul>

          </div>
        </div>

        <a class="brand" href="http://backlift.com" id='homelink'>
          Backlift docs
        </a>

        <div style="display:inline-block;position:relative">
          <img class="tric" src="/images/tric-draw-small.png">
        </div>

      </div>
    </div>

